<section class="card">
    <a href="/location/{{location_id}}">
        <header>{{location_name}}</header>

        <div class="card-body">
            {{!-- <img src="/images/{{filename}}" alt="{{description}}"> --}}
            <p>zipCode: {{ zip_code}}</p>
        </div>
    </a>
</section>